.Rproj.user
Shared/*
CF_shunkei
Codes_sample/*
*.DS_Store
.Rhistory
*.html
*.docx
*.pdf
Writing/manuscript_files/*
Writing/method_data_generation_files/*
data/*
results/*
*/*_files/*
*.rds
*.tex
*.log
*.aux
*.Rpoj
